@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Lora", serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btns {
  padding: 10px 20px;
  margin-right: 6px;
  background: transparent;
  border: none;
  border: 0.6px solid #ccc;
  border-radius: 5px;
  color: #535F80;
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #d2d2d2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #081F62;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158);
}
