.LoginPageContainer {
  height: 100vh;
  overflow: auto;
}

.LoginPageInnerContainer {
  display: flex;
  min-height: 100%;
}

.LoginPageInnerContainer .ImageContianer {
  width: 35%;
  background-color: #0e47a1;
  min-height: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginPageInnerContainer .ImageContianer .GroupImage {
  width: 100%;
  display: block;
}

.LoginPageInnerContainer .LoginFormContainer {
  flex-grow: 2;
  background-color: white;
  min-height: 100%;
  padding: 5%;
  background: url(https://i.imgur.com/BKyjjFa.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.LoginPageInnerContainer .LoginFormContainer .LogoContainer .logo {
  height: 60px;
  margin-bottom: 30px;
}

.LoginPageInnerContainer .LoginFormContainer .header {
  font-size: 48px;
  font-weight: 500;
  color: #041239;
}

.LoginPageInnerContainer .LoginFormContainer .subHeader {
  color: #9aa4ad;
  margin-top: 5px;
  margin-bottom: 40px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer {
  color: #5b80d1;
  margin: 20px 0px;
}
.LoginPageInnerContainer .LoginFormContainer .inputContainer i {
  color: #5b80d1;
  font-size: 1.2em;
  margin-right: 0.5em;
  margin-top: 0.1em;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .label {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 10px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .label .labelIcon {
  width: 20px;
  margin-right: 10px;
  display: block;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .input {
  display: block;
  width: calc(100% - 0px);
  font-size: 15px;
  padding: 10px;
  border: 1px solid #d6d7db;
  border-radius: 5px;
  margin-top: 5px;
  outline: 0px !important;
  background-color: #d6d7db;
  color: #0e47a1;
}

.LoginPageInnerContainer .LoginFormContainer .OptionsContainer {
  display: flex;
  justify-content: space-between;
}

.LoginFormContainer {
  display: flex;
  align-items: center;
}

.LoginFormInnerContainer {
  max-width: 500px;
}

.LoginPageInnerContainer .LoginFormContainer .checkbox {
  width: 15px;
  height: 15px;
  margin: 0px;
  display: block;
  border: 1px solid #d6d7db;  
}

.LoginPageInnerContainer .LoginFormContainer .checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.LoginPageInnerContainer .LoginFormContainer .checkboxContainer label {
  display: block;
  padding: 0px 5px;
  color: #000;
}

.LoginPageInnerContainer .LoginFormContainer .ForgotPasswordLink {
  color: #e7483b;
  text-decoration: none;
}

.LoginFormContainer .LoginFormInnerContainer .LoginButton {
  margin-top: 30px;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  background-color: #0e47a1;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}

.LoginFormContainer .LoginFormInnerContainer .LoginButton:active {
  background-color: #0e47a1;
}
.HaveAnAcc{
  margin-top: 1em;
  padding: 0 5px;
}

@media only screen and (max-width: 1200px) {
  .LoginPageInnerContainer .ImageContianer {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .LoginPageInnerContainer .ImageContianer {
    display: none;
  }

  .LoginFormContainer {
    justify-content: center;
  }
}
.LoginPageContainer::-webkit-scrollbar {
  width: 5px;
}

.LoginPageContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.LoginPageContainer::-webkit-scrollbar-thumb {
  background: #041239;
}

.LoginPageContainer::-webkit-scrollbar-thumb:hover {
  background: #4520ff;
}
