.LoginPageContainer {
  height: 100vh;
  overflow: auto;
}

.LoginPageInnerContainer {
  display: flex;
  min-height: 100%;
}

.LoginPageInnerContainer .ImageContianer {
  width: 50%;
  background: linear-gradient(
    270deg,
    rgba(174, 141, 254, 1) 0%,
    rgba(112, 89, 243, 1) 35%,
    rgba(112, 89, 243, 1) 100%
  );
  min-height: 100%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginPageInnerContainer .ImageContianer .GroupImage {
  width: 100%;
  max-width: 75%;
  display: block;
}

.LoginPageInnerContainer .LoginFormContainer {
  flex-grow: 2;
  background-color: white;
  min-height: 100%;
  /* padding: 5%; */
  background: url(https://i.imgur.com/BKyjjFa.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
}

.LoginPageInnerContainer .LoginFormContainer .LogoContainer .logo {
  height: 60px;
  margin-bottom: 30px;
}

.LoginPageInnerContainer .LoginFormContainer .Loginheader {
  font-size: 40px;
  font-weight: 500;
  color: #001451;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.LoginPageInnerContainer .LoginFormContainer .subHeader {
  color: rgb(55, 93, 187);
  margin-top: 5px;
  margin-bottom: 40px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer {
  color: #000;
  margin: 20px 0px;
}
.LoginPageInnerContainer .LoginFormContainer .inputContainer i {
  color: #000;
  font-size: 1.2em;
  margin-right: 0.5em;
  margin-top: 0.1em;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .label {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 10px;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .label .labelIcon {
  width: 20px;
  margin-right: 10px;
  display: block;
}

.LoginPageInnerContainer .LoginFormContainer .inputContainer .input {
  display: block;
  width: calc(100% - 0px);
  font-size: 15px;
  padding: 10px;
  border: 1px solid #d6d7db;
  border-radius: 5px;
  margin-top: 5px;
  outline: 0px !important;
  background-color: #d6d7db;
  color: #000;
}
.LoginPageInnerContainer .LoginFormContainer .OptionsContainer {
  display: flex;
  justify-content: space-between;
}

.LoginFormContainer {
  display: flex;
  align-items: center;
}

.LoginFormInnerContainer {
  max-width: 500px;
}

.LoginPageInnerContainer .LoginFormContainer .checkbox {
  width: 15px;
  height: 15px;
  margin: 0px;
  display: block;
  border: 1px solid #d6d7db;
}

.LoginPageInnerContainer .LoginFormContainer .checkboxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.LoginPageInnerContainer .LoginFormContainer .checkboxContainer label {
  display: block;
  padding: 0px 5px;
  color: #000;
}

.LoginPageInnerContainer .LoginFormContainer .ForgotPasswordLink {
  color: #e7483b;
  text-decoration: none;
}

.LoginFormContainer .LoginFormInnerContainer .LoginButton {
  margin-top: 30px;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  background-color: #000;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}

.LoginFormContainer .LoginFormInnerContainer .LoginButton:active {
  background-color: #000;
}
.HaveAnAcc {
  margin-top: 1em;
  padding: 0 5px;
}

/* Forgot password */

.forgotPasswordContainer {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.popupContainer {
  background-color: #fff;
  border-radius: 1em;
  width: 100%;
  max-width: 40%;
  height: auto;
  padding: 20px 20px;
}
.PopupMainContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid #d6d7db;
  margin-bottom: 1em;
}
.PopupMainContent h1 {
  font-size: 1.5em;
  color: #000;
}
.close {
  width: 25px;
  height: 25px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 25%;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PopupHeading {
  color: #000;
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 12px;
}
.PopupDesc {
  color: #000;
  font-weight: 400;
  font-size: 1em;
  padding-bottom: 12px;
}
.forgotInputContainer {
  display: block;
  width: calc(100% - 0px);
  font-size: 15px;
  padding: 15px;
  border: 1px solid #d6d7db;
  border-radius: 5px;
  margin-top: 5px;
  outline: 0px !important;
  background-color: #d6d7db;
  color: #000;
  margin-bottom: 12px;
}
.forgotSubmitBtn {
  margin-top: 30px;
  display: block;
  width: 100%;
  max-width: 50%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: #000;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}
.ResendOtp {
  border-bottom: 0;
  padding-bottom: 0;
}
.ResendOtp h3 {
  color: #000;
  font-size: 1em;
  font-weight: 400;
}
.ResendOtp span {
  text-decoration: underline;
  font-weight: 400;
  color: #000;
  font-size: 1em;
}
/*  */

@media only screen and (max-width: 1200px) {
  .LoginPageInnerContainer .ImageContianer {
    width: 50%;
  }
}
@media (max-width: 850px) {
  .popupContainer {
    background-color: #fff;
    border-radius: 1em;
    width: 100%;
    max-width: 60%;
    height: auto;
    padding: 20px 20px;
  }
}
@media only screen and (max-width: 800px) {
  .LoginPageInnerContainer .ImageContianer {
    display: none;
  }
  .LoginFormContainer {
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .popupContainer {
    background-color: #fff;
    border-radius: 1em;
    width: 100%;
    max-width: 95%;
    height: auto;
    padding: 20px 20px;
  }
  .ResendOtp h3,
  .ResendOtp span {
    font-size: 0.8em;
  }
}
.LoginPageContainer::-webkit-scrollbar {
  width: 5px;
}

.LoginPageContainer::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.LoginPageContainer::-webkit-scrollbar-thumb {
  background: #004651;
}

.LoginPageContainer::-webkit-scrollbar-thumb:hover {
  background: #4520ff;
}