.CategCardContainer {
  position: relative;
  z-index: 100;
}
.CategCardContainer .Categcard {
  position: relative;
  width: 16em;
  height: 25em;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  margin: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content-1 {
  position: relative;
  width: 100%;
  height: 48%;
  background: linear-gradient(
    270deg,
    rgba(174, 141, 254, 1) 0%,
    rgba(112, 89, 243, 1) 35%,
    rgba(112, 89, 243, 1) 100%
  );
}
.content-1::after {
  content: "Item";
  position: absolute;
  left: -8%;
  font-size: 9em;
  font-weight: 800;
  opacity: 0.3;
  font-style: italic;
  color: #ccc;
}
.content-1 .logo-img img {
  width: 30px;
  height: 15px;
  position: absolute;
  top: 10%;
  right: 5%;
}
.content-1 img {
  width: 12em;
  height: auto;
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 100;
}
.content-2 {
  position: relative;
  height: 52%;
  padding-top: 18px;
}
.brandingInner {
  margin-bottom: 1em;
}
.branding h4 {
  margin-bottom: 1em;
}
.branding,
.ratings,
.size,
.color {
  padding-left: 20px;
}
.branding span:nth-child(1) {
  font-size: 20px;
  font-weight: 500;
}
/* .branding span:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  margin: 0px 5px;
} */
.branding span:nth-child(2) {
  position: absolute;
  right: 4%;
  top: 4%;
  font-size: 10px;
  background: #fb5c36;
  color: #fff;
  border-radius: 4px;
  padding: 4px 10px 2px;
}
.branding h4 {
  font-size: 15px;
  font-weight: 500;
}
.ratings span {
  display: inline-block;
  text-align: center;
  line-height: 26px;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.5s;
  color: #949493;
}
.ratings span:hover {
  color: #0a0d0f;
}
.size,
.color {
  font-size: 12px;
}
.size span {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 28px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  margin: 2px 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.size span:hover {
  background: #ffc400;
}

.color span {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 26px;
  font-size: 10px;
  margin: 10px 15px 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.color span:nth-child(2) {
  background: #0945a1;
}
.color span:nth-child(3) {
  background: #eb4835;
}
.color span:nth-child(4) {
  background: #a6ff00;
}
.color span:hover:nth-child(2):after {
  content: "";
  display: inline-block;
  border: 1px solid #0945a1;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: -4.1px;
  margin-top: -3.9px;
}
.color span:hover:nth-child(3):after {
  content: "";
  display: inline-block;
  border: 1px solid #eb4835;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: -4.1px;
  margin-top: -3.9px;
}

.color span:hover:nth-child(4):after {
  content: "";
  display: inline-block;
  border: 1px solid #a6ff00;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -3.9px;
}

.price {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-top: 1em;
  cursor: pointer;
}
.price span {
  /* background-image: linear-gradient(to right, #0ab5cf, #17d1ee); */
  background: linear-gradient(
    270deg,
    rgba(174, 141, 254, 1) 0%,
    rgba(112, 89, 243, 1) 35%,
    rgba(112, 89, 243, 1) 100%
  );
  padding: 8px 20px;
  border-radius: 4px;
  color: #fff;
  margin-top: 1em;
  font-weight: 400;
}
.price span:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.price span:active {
  transform: translateY(1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.likesContainer {
  display: flex;
  padding: 0px 20px;
  gap: 1em;
  justify-content: center;
}
.likesContainerInner {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}
.likesContainerInner i {
  font-size: 1.2em;
}
.likesContainerInner span {
  font-size: 0.8em;
}
@media (max-width: 600px) {
  .CategCardContainer .Categcard {
    margin: 18px;
    width: 19em;
  }
  .content-1::after {
    left: -6%;
    font-size: 10em;
  }
  .content-1 img {
    left: 15%;
  }
}
