.LandingSec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 25vh;
}
.LandingSec1 .img_sec1 {
  width: 50%;
}
.LandingSec1 .img_sec1 img {
  width: 100%;
  height: 100%;
}
.LandingSec1 .content_sec1 {
  width: 50%;
}
.LandingSec1 .content_sec1 h1 {
  font-size: 3rem;
}
.LandingSec1 .content_sec1 h1 span {
  color: rgb(55, 93, 187);
}
.LandingSec1 .content_sec1 p {
  padding-top: 1.5em;
  color: #777;
  font-size: 1.1rem;
  font-weight: 500;
}
.searchbox-wrap {
  display: flex;
  width: 100%;
  max-width: 67%;
  margin-top: 5vh;
  border: 1px solid #000;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.searchbox-wrap input {
  flex: 1;
  padding: 18px 20px;
  font-size: 1.1em;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: none;
  border: none;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19);
}
.searchbox-wrap button {
  padding-right: 10px;
  background-color: #fff;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.19);
  border: none;
  cursor: pointer;
  cursor: hand;
}
.searchbox-wrap button span {
  margin-left: 50px;
  padding: 15px 45px;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  background-color: rgb(55, 93, 187);
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.19);
}
.searchbox-wrap button span:hover {
  background-color: #000;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.19);
}
.underlined {
  position: relative;
  margin-right: 1rem;
}
.underlined:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 7px;
  width: 100%;
  border: solid 2px rgb(55, 93, 187);
  border-color: rgb(55, 93, 187) transparent transparent transparent;
  border-radius: 90%;
  font-size: 200%;
}

/* LandingSec2 */

.LandingSec2 {
  /* margin-top: 10vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://w0.peakpx.com/wallpaper/366/933/HD-wallpaper-blue-abstraction-background-material-design-paper-texture-blue-creative-background-blue-lines-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  padding: 5em 10em;
}
.LandingSec2 .LandingSec2_heading {
  width: 50%;
}
.LandingSec2 .LandingSec2_heading h3 {
  color: rgb(55, 93, 187);
  font-size: 1.5rem;
}
.LandingSec2 .LandingSec2_heading h1 {
  font-size: 2rem;
}
.LandingSec2 .LandingSec2_content {
  width: 50%;
}
.LandingSec2 .LandingSec2_content p {
  font-size: 1rem;
}

@media (max-width: 1023px) {
  .LandingSec1 {
    flex-direction: column;
    padding-top: 10vh;
  }
  .LandingSec1 .img_sec1 {
    width: 100%;
    padding-bottom: 5vh;
  }
  .LandingSec1 .content_sec1 {
    width: 100%;
    padding-left: 20vw;
  }
  .LandingSec2 {
    padding: 5em 3em;
  }
}
@media (max-width: 600px) {
  .LandingSec1 {
    flex-direction: column;
  }
  .LandingSec1 .content_sec1 {
    width: 100%;
    padding-left: 5vw;
  }
  .LandingSec1 .content_sec1 h1 {
    font-size: 2rem;
  }
  .LandingSec1 .content_sec1 p {
    font-size: 1rem;
  }
  .searchbox-wrap {
    width: 100%;
    max-width: 95%;
  }
  .searchbox-wrap input {
    padding: 18px 5px;
  }
  .searchbox-wrap button span {
    margin-left: 0;
    padding: 15px 15px;
  }
  .searchbox-wrap button {
    padding-right: 5px;
  }
  .LandingSec2 {
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .LandingSec2 .LandingSec2_heading {
    width: 100%;
    padding-bottom: 1em;
  }
  .LandingSec2 .LandingSec2_content {
    width: 100%;
  }
}
