@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
:root {
  --color-black: hsl(0, 0%, 10%);
  --color-darks: hsl(0, 0%, 25%);
  --color-greys: hsl(0, 0%, 60%);
  --color-light: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-blue-100: #00a182;
  --color-blue-200: #00a182;
  --color-blue-300: #00a182;
  --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
     0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-medium: rgba(0, 0, 0, 0.1) 0px 4px 12px;;
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
     0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


main {
  overflow: hidden;
}

a,
button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-transform: unset;
}


.section {
  margin: 0 auto;
  padding: 5rem 0 2rem;
}

.NavContainer {
  max-width: 85rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.brand {
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  /* line-height: 1.5; */
  letter-spacing: -1px;
  text-transform: uppercase;
  color: rgb(55, 93, 187);
  z-index: 99999;
}
.brand img{
  width: 5em;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 10;
  margin: 0 auto;
  background: rgb(255, 255, 255);
}
.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  z-index: 10;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  box-shadow: rgba(220, 220, 220, 0.5) 0px 8px 16px;
}

.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
}

.menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: var(--shadow-medium);
  transition: all 0.5s ease-in-out;
}
.menu.is-active {
  top: 0;
  left: 0;
}
.menu-inner {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  margin: 5.25rem 2.25rem;
}
.menu-link {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2.5;
  text-transform: uppercase;
  color: #000;
  transition: all 0.3s ease;
}
.menu-link:hover {
  opacity: 1;
  transition: all 1s ease 0s;
  border-bottom: 3px solid rgb(55, 93, 187);
  font-weight: 500;
}

.navbarHome{
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #eee;
}
.BarterLogo{
  color: rgb(55, 93, 187);
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 2px ;
}

.navItemsHome ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navItemsHome ul li{
  margin-left: 2em;
  cursor: pointer;
  font-size: 1rem;
}
.navItemsHome ul li:hover{
  color: rgb(55, 93, 187);
}
.userAcc{
  display: flex;
  margin-left: 2em;
}
.UserAccItem{
  display: flex;
  margin-left: 2em;
  cursor: pointer;
  align-items: center;
}
.UserAccItem i{
  color: #777;
  font-size: 1.8rem;
}
.UserAccItem p{
  margin-left: 1em;
}

.InputSearchContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 3em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}
.InputSearchContainer input {
  background-color: rgb(255, 255, 255);
  border: none;
}

.inputSearch {
  width: 150px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
  cursor: pointer;
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}
.labelforsearch i{
  font-size: 1.2em;
  color: #777;
  cursor: pointer;
}
.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: .3s;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: .3s;
}


@media (max-width: 1023px) {
  .InputSearchContainer{
    display: none;
  }
  .userAcc{
    display: none;
  }
}
@media only screen and (min-width: 1023px) {
  .menu {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    margin-left: auto;
    background: none;
    box-shadow: none;
  }
  .menu-inner {
    display: flex;
    flex-direction: row;
    column-gap: 1.75rem;
    margin: 0 auto;
    /* margin-right: 5rem; */
  }
  .menu-link {
    text-transform: capitalize;
  }
  .menu-block {
    margin-left: 2rem;
  }
}
.burger {
  position: relative;
  display: block;
  cursor: pointer;
  order: -1;
  width: 1.6rem;
  height: auto;
  border: none;
  outline: none;
  visibility: visible;
}
.burgerLine1 {
  display: block;
  cursor: pointer;
  width: 50%;
  height: 2px;
  margin: 6px 0;
  transform: rotate(0deg);
  border-radius: 1rem;
  background: var(--color-black);
}
.burgerLine2 {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 2px;
  margin: 6px 0;
  transform: rotate(0deg);
  border-radius: 1rem;
  background: var(--color-black);
}
.burgerLine3 {
  display: block;
  cursor: pointer;
  width: 75%;
  height: 2px;
  margin: 6px 0;
  transform: rotate(0deg);
  border-radius: 1rem;
  background: var(--color-black);
}
@media only screen and (min-width: 1023px) {
  .burger {
    display: none;
    visibility: hidden;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease-in-out;
}
.overlay.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
}

.search-toggle, .search-cancel {
  display: block;
  cursor: pointer;
  font-size: 1.45rem;
  line-height: inherit;
  color: var(--color-black);
}
.search-block {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  background-color: var(--color-white);
  transition: all 0.35s ease-in-out;
}
.search-block.is-active {
  top: 0;
  right: 0;
}
.search-form {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem 1rem;
}
.search-input {
  display: block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 100%;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: var(--color-black);
  background-color: var(--color-light);
}
.search-input::-webkit-search-decoration, .search-input::-webkit-search-cancel-button {
  display: none;
  visibility: hidden;
}