.sidebar {
  width: 15%;
  position: fixed;
  height: 100%;
  border-right: 2px solid #e5e5e5;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  margin-bottom: 2rem;
}

.logo-container img {
  width: 10em;
  padding-top: 1.5em;
}

@media (max-width: 835px) {
  .sidebar {
    width: 25%;
  }
  .categNav {
    margin-left: 10rem;
  }
}
@media (max-width: 600px) {
  .sidebar {
    width: 35%;
  }
  .categNav {
    margin-left: 25rem;
  }
  .profile-container {
    display: flex;
  }
  .nav-icons {
    margin-left: 1rem;
  }
}
